.logoImg {
  height: 40px;
  width: 40px;
}
.header-inner-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.backBtn {
  margin-top: 5px !important;
}

.logoImg {
  animation: logoAnimation 1.5s infinite ease-in-out;
}

